#File Types
*.bgn
*.bin
*.bit
*.bld
*.cmd
*.cmd_log
*.drc
*.exe
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.swp
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst

# Specific Files
_ngo
isim
xst
mojo_top_pad.csv
mojo_top_pad.txt

# Specific dirs
syn/
iseconfig/
